extends ../includes/admin
block content
  ul.thumbnails
    for image in images
      li.span4
        a.thumbnail(href='/gallery/#{image.path}')
          img(src='/gallery/#{image.path}', alt='')
        div.caption
          p=image.name
            a.btn.btn-danger.pull-right(href='/admin/image/delete/#{image._id}') delete
  div.row
    div.span9
      form(action='/admin/image', method='post', enctype="multipart/form-data")
        label image
        input.span10(name='image',type='file',required)
        button.btn.btn-primary(type='submit') upload