extends ../includes/admin
block content
  div.span9
    form(action='/admin/post/new', method='post')
      label title
      input.span10(name='post[title]',type='text')
      label category
      select(name='post[category]')
        option(value='')
        for category in categories
          option(value='#{category.name}')=category.name
      label content
      textarea.span10(name='post[content]',rows=20)
      button.btn.btn-primary(type='submit') save