extends ../includes/admin
block content
  table.table.table-striped
    thead: tr
      th title
      th category
      th create
      th last update
      th(conspan='3')|operations
    tbody
      if posts.length == 0
        p no result
      for post in posts
        tr
          td=post.title
          td=post.category
          td
            =post.createTime.getFullYear()+'-'
            =post.createTime.getMonth()+1+'-'
            =post.createTime.getDate()
          td
            =post.updateTime.getFullYear()+'-'
            =post.updateTime.getMonth()+1+'-'
            =post.updateTime.getDate()
          td
            i.icon-edit()a(href='/admin/post/edit/#{post._id}') edit
          td
            i.icon-trash()a(href='/admin/post/remove/#{post._id}') delete