!!!
html
  head
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/navbar.css')
    //if lt IE 10
      script(src='/javascript/lib/es5-shim.js')
    script(src='/javascript/lib/jquery-1.8.2.js')
    script(src='/javascript/lib/bootstrap.js')
    script(src='/javascript/navbar.js')
    style
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      div#main {
        min-height: 600px
      }
      footer {
        bottom: 0px
      }
      .tags a {
        color:white;
        padding-right: 5px;
        display: inline-block
      }
  body
    div.navbar.navbar-inverse.navbar-fixed-top
      div.navbar-inner
        div.container
          a.brand(href='/') mqli's site
          ul.nav
            li: a(href='/')
              i.icon-home.icon-white
              |home
            li: a(href='#') about
    div#main.container
      div.row
        div.span2
          ul.well.nav.nav-list
            li.nav-header Posts 
            li: a(href="/admin/posts") all post
            li: a(href="/admin/post/new") new
            li: a(href="#") category
            li: a(href="#") tag
            li.nav-header Links
            li: a(href="#") all links
            li: a(href="#") new
        div.span10
          yield