!!!
html
  head
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/navbar.css')
    //if lt IE 10
      script(src='/javascript/lib/es5-shim.js')
    script(src='/javascript/lib/jquery-1.8.2.js')
    script(src='/javascript/lib/bootstrap.js')
    script(src='/javascript/navbar.js')
    style
      body {
        padding-top: 60px;
        padding-bottom: 40px;

      }
      div#main {
        min-height: 600px
      }
      footer {
        bottom: 0px
      }
      .tags a {
        color:white;
        padding-right: 5px;
        display: inline-block
      }
  body
    include navbar
    div#main.container
      div.row
        div.span9
          yield
        div.span3
          div.thumbnail
            img(src="/img/icon.jpg")
            div.caption
              h3 mqli
              p programmer
          hr
          h3 tags
          p.tags
            for tag in ['javascript', 'programming' ,'nodejs', 'lisp']
              a(href="#")
                span.label.label-info
                  i.icon-tag.icon-white()
                  =tag
          hr 
          h3 links
          ul
            li: a(href="http://dailyjs.com/") dailyjs.com
            li: a(href="http://nodejs.org/") nodejs.org
      footer
        p
          | All Rights Resevred.