!!!
html
  head
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/navbar.css')
    //if lt IE 10
      script(src='/javascript/lib/es5-shim.js')
    script(src='/javascript/lib/jquery-1.8.2.js')
    script(src='/javascript/lib/bootstrap.js')
    script(src='/javascript/navbar.js')
    block scripts
    block style
    style
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      div#main {
        min-height: 600px
      }
      footer {
        bottom: 0px
      }
      .tags a {
        color:white;
        padding-right: 5px;
        display: inline-block
      }
    title.
      mqli's blog
  body
    div.navbar.navbar-inverse.navbar-fixed-top
      div.navbar-inner
        div.container
          a.brand(href='/') mqli's blog
          ul.nav
            li: a(href='/')
              i.icon-home.icon-white
              |home
            li: a(href='#') about
    div#main.container
      div.row
        div.span9
          block content
        div.span3
          div.thumbnail
            img(src="/img/icon.jpg")
            div.caption
              h3 mqli
              p programmer
              p javascripter
          hr
          h3 tags
          p.tags
            for tag in ['javascript', 'programming' ,'nodejs', 'lisp']
              a(href="/tag/#{tag}")
                span.label.label-info
                  i.icon-tag.icon-white()
                  =tag
          hr 
          h3 links
          ul
            li: a(href="http://dailyjs.com/") dailyjs.com
            li: a(href="http://nodejs.org/") nodejs.org
      footer
        p
          | All Rights Resevred.