div.navbar.navbar-inverse.navbar-fixed-top
  div.navbar-inner
    div.container
      a.brand(href='/') BlueJukebox's Site
      ul.nav
        li.active: a(href='/') blogs
        li: a(href='#') about
        li: a(href='tools') tools
      ul.nav.pull-right
        - if (username)
          li.active: a=username
          li: a(href="logout") logout
        - else
          li: a#login(href="#") login
          form.login-form.navbar-form.pull-right(action="/login", method="post")
            input.span2(name="username", placeholder="username", type="text")
            input.span2(name="password", placeholder="password", type="password")
            button.btn.btn-primary(type="submit") login