include includes/layout
  form(action="/post/save",method="post")
    label title
    input.span9(name="post[title]",type="text")
    label tags
    for tag in tags
      label.checkbox.inline 
        input(name="post[tags]",type="checkbox",value="#{tag}") 
        =tag
    label content
    textarea(name="post[content]").span9(rows='20')
    button.btn.btn-primary submit