!!!
html
  head
    include head
    style
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
  body
    div.navbar.navbar-inverse.navbar-fixed-top
      div.navbar-inner
        div.container
          a.brand(href='#') BlueJukebox's Site
          ul.nav
            li.active: a(href='#') blogs
            li: a(href='#') about
            //li: a(href='post/edit') new post
            li: a(href='tools') tools
    div.container
      div.row
        div.span3
          ul.nav.nav-tabs.nav-stacked
            li: a(href='#') nodejs
            li: a(href='#') javascript
            li: a(href='#') css
 