include includes/layout
  h2: a(href="#") build nodejs app
  p
    span.tags
      a(href="#"): span.label.label-info nodejs
      a(href="#"): span.label.label-info javascript
      i.icon-calendar
      |2012-10-11
  p.
    build nodejs app