!!!
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        header.page_header
            h1 BlueJukebox's Blog
            nav
                ul
                    li: a(href='#') blogs
                    li: a(href='#') about
        section.posts
            article.post
                hearder
                    h2 windows下搭建nodejs开发环境
                    p posted by mqli
                        i 2011年12月2日13:11:37
                aside
                    p windows下搭建nodejs开发环境
                p 
                footer
                    p: a(href='#'): i 0 comments
        section.siderbar
            nav
                h3 Archives
                ul
                    li: a(href="#") Oct
                    li: a(href="#") Sep
                    li: a(href="#") Aug
        footer.page_footer
            p BlueJukebox