!!!
html
  head
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    script(src='/javascript/lib/jquery-1.8.2.js')
    script(src='/javascript/lib/bootstrap.js')
    script(src='/javascript/lib/jade.js')
    script(src='/javascript/tools.js')
  body
    div.navbar.navbar-inverse.navbar-static-top
      div.navbar-inner
        a.brand(href='/') BlueJukebox's Site
        ul.nav
          li: a(href='/') blogs
          li: a(href='') about
          //li: a(href='post/edit') new post
          li.active: a(href='#') tools
    div.container-fluid
      div.row-fluid
        div.span6
          div.row-fluid
            h3 hospital
          div.row-fluid
            div.span6
              label.control-label name:
              input#hospital_name(type="text", placeholder="hospital name")
              label.control-label price:
              input#hospital_price(type="text", placeholder="hospital price")
              button#addHospital.btn.btn-primary add
            div.span6
              table.table
                thead#hospitals
                  tr
                    td name
                    td price
        div.span6
          div.row-fluid
            h3 student
          div.row-fluid
            div.span6
              label.control-label class:
              input(type="text", placeholder="class")
              label.control-label count:
              input#students_count(type="text", placeholder="student count")
              label.control-label hospital:
              select#students_hospital
              button#addStudent.btn.btn-primary add
            div.span6
              table.table
                thead#students
                  tr
                    td class
                    td count
                    td hospital
      div.row-fluid
        h3 bill
        table#output.table
          thead
            tr111
              td Hospital
              td Price
              td Class
              td Count
              td Class Total
              td Hospital Total
          tbody
          