body {
  width: 960px;
  margin: 15px auto;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

p {
  margin: 0 0 20px 0;
}
p, li {
  inline-height: 20px;
}

header.page_header{
  width: 100%;
}
header.page_header nav ul, footer.page_footer nav ul{
  list-style: none;
  margin:0;
  padding:0;
}
header.page_header nav ul li, footer.page_footer nav ul li{
  margin: 0 20px 0 0;
  padding:0;
  display:inline;
}
section.posts {
  float: left;
  width: 74%;
}
section.post aside{
  float: right;
  width: 35%;
  margin-left: 5%;
  font-size: 20px;
  inline-height: 40px;
}
section.siderbar{
  float: right;
  width: 25%;
}

footer.page_footer {
  clear: both;
  width: 100%;
  display: block;
  text-align: center;
  bottom: 0px;
}
